<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-product-edit" th:object="${product}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">店铺ID：</label>
				<div class="col-sm-8">
					<input id="shopId" name="shopId" th:field="*{shopId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">品牌ID：</label>
				<div class="col-sm-8">
					<input id="brandId" name="brandId" th:field="*{brandId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品类别ID：</label>
				<div class="col-sm-8">
					<input id="productCategoryId" name="productCategoryId" th:field="*{productCategoryId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品属性类别ID：</label>
				<div class="col-sm-8">
					<input id="productAttributeCategoryId" name="productAttributeCategoryId" th:field="*{productAttributeCategoryId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="pic" name="pic" th:field="*{pic}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">货号：</label>
				<div class="col-sm-8">
					<input id="productSn" name="productSn" th:field="*{productSn}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">删除状态：0->未删除；1->已删除：</label>
				<div class="col-sm-8">
					<input id="deleteStatus" name="deleteStatus" th:field="*{deleteStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">上架状态：0->下架；1->上架：</label>
				<div class="col-sm-8">
					<input id="publishStatus" name="publishStatus" th:field="*{publishStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">新品状态:0->不是新品；1->新品：</label>
				<div class="col-sm-8">
					<input id="newStatus" name="newStatus" th:field="*{newStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">推荐状态；0->不推荐；1->推荐：</label>
				<div class="col-sm-8">
					<input id="recommandStatus" name="recommandStatus" th:field="*{recommandStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排序：</label>
				<div class="col-sm-8">
					<input id="sort" name="sort" th:field="*{sort}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">销量：</label>
				<div class="col-sm-8">
					<input id="sale" name="sale" th:field="*{sale}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">促销价格：</label>
				<div class="col-sm-8">
					<input id="promotionPrice" name="promotionPrice" th:field="*{promotionPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">赠送的积分：</label>
				<div class="col-sm-8">
					<input id="giftPoint" name="giftPoint" th:field="*{giftPoint}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">副标题：</label>
				<div class="col-sm-8">
					<input id="subTitle" name="subTitle" th:field="*{subTitle}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品描述：</label>
				<div class="col-sm-8">
					<input id="description" name="description" th:field="*{description}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">市场价：</label>
				<div class="col-sm-8">
					<input id="originalPrice" name="originalPrice" th:field="*{originalPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">库存：</label>
				<div class="col-sm-8">
					<input id="stock" name="stock" th:field="*{stock}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">库存预警值：</label>
				<div class="col-sm-8">
					<input id="lowStock" name="lowStock" th:field="*{lowStock}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单位：</label>
				<div class="col-sm-8">
					<input id="unit" name="unit" th:field="*{unit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品重量，默认为克：</label>
				<div class="col-sm-8">
					<input id="weight" name="weight" th:field="*{weight}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">以逗号分割的产品服务：1->无忧退货；2->快速退款；3->免费包邮：</label>
				<div class="col-sm-8">
					<input id="serviceIds" name="serviceIds" th:field="*{serviceIds}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="keywords" name="keywords" th:field="*{keywords}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="note" name="note" th:field="*{note}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">画册id：</label>
				<div class="col-sm-8">
					<input id="albumId" name="albumId" th:field="*{albumId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="detailTitle" name="detailTitle" th:field="*{detailTitle}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="detailDesc" name="detailDesc" th:field="*{detailDesc}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品详情网页内容：</label>
				<div class="col-sm-8">
					<input id="detailHtml" name="detailHtml" th:field="*{detailHtml}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">移动端网页详情：</label>
				<div class="col-sm-8">
					<input id="detailMobileHtml" name="detailMobileHtml" th:field="*{detailMobileHtml}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">促销开始时间：</label>
				<div class="col-sm-8">
					<input id="promotionStartTime" name="promotionStartTime" th:field="*{promotionStartTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">促销结束时间：</label>
				<div class="col-sm-8">
					<input id="promotionEndTime" name="promotionEndTime" th:field="*{promotionEndTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">活动限购数量：</label>
				<div class="col-sm-8">
					<input id="promotionPerLimit" name="promotionPerLimit" th:field="*{promotionPerLimit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">促销类型：0->没有促销使用原价;1->使用促销价；2->使用会员价；3->使用阶梯价格；4->使用满减价格；5->限时购：</label>
				<div class="col-sm-8">
					<input id="promotionType" name="promotionType" th:field="*{promotionType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">品牌名称：</label>
				<div class="col-sm-8">
					<input id="brandName" name="brandName" th:field="*{brandName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商品分类名称：</label>
				<div class="col-sm-8">
					<input id="productCategoryName" name="productCategoryName" th:field="*{productCategoryName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">币种，0-> 人民币;  1-> 积分：</label>
				<div class="col-sm-8">
					<input id="currency" name="currency" th:field="*{currency}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/product"
		$("#form-product-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-product-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
