<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.repast.admin.project.system.coupon.mapper.CouponMapper">
    
    <resultMap type="Coupon" id="CouponResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="platform"    column="platform"    />
        <result property="count"    column="count"    />
        <result property="amount"    column="amount"    />
        <result property="perLimit"    column="per_limit"    />
        <result property="minPoint"    column="min_point"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="useType"    column="use_type"    />
        <result property="note"    column="note"    />
        <result property="publishCount"    column="publish_count"    />
        <result property="useCount"    column="use_count"    />
        <result property="receiveCount"    column="receive_count"    />
        <result property="enableTime"    column="enable_time"    />
        <result property="code"    column="code"    />
        <result property="memberLevel"    column="member_level"    />
    </resultMap>
	
	<sql id="selectCouponVo">
        select id, shop_id, type, name, platform, count, amount, per_limit, min_point, start_time, end_time, use_type, note, publish_count, use_count, receive_count, enable_time, code, member_level from sms_coupon
    </sql>
	
    <select id="selectCouponList" parameterType="Coupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="shopId != null "> and shop_id = #{shopId}</if>
             <if test="type != null "> and type = #{type}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="platform != null "> and platform = #{platform}</if>
             <if test="count != null "> and count = #{count}</if>
             <if test="amount != null "> and amount = #{amount}</if>
             <if test="perLimit != null "> and per_limit = #{perLimit}</if>
             <if test="minPoint != null "> and min_point = #{minPoint}</if>
             <if test="startTime != null "> and start_time = #{startTime}</if>
             <if test="endTime != null "> and end_time = #{endTime}</if>
             <if test="useType != null "> and use_type = #{useType}</if>
             <if test="note != null  and note != '' "> and note = #{note}</if>
             <if test="publishCount != null "> and publish_count = #{publishCount}</if>
             <if test="useCount != null "> and use_count = #{useCount}</if>
             <if test="receiveCount != null "> and receive_count = #{receiveCount}</if>
             <if test="enableTime != null "> and enable_time = #{enableTime}</if>
             <if test="code != null  and code != '' "> and code = #{code}</if>
             <if test="memberLevel != null "> and member_level = #{memberLevel}</if>
         </where>
    </select>
    
    <select id="selectCouponById" parameterType="Long" resultMap="CouponResult">
<!--        <include refid="selectCouponVo"/>-->
<!--        where id = #{id}-->
select * from sms_coupon where id=#{id}
    </select>
        
    <insert id="insertCoupon" parameterType="Coupon">
        insert into sms_coupon
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="shopId != null  ">shop_id,</if>
			<if test="type != null  ">type,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="platform != null  ">platform,</if>
			<if test="count != null  ">count,</if>
			<if test="amount != null  ">amount,</if>
			<if test="perLimit != null  ">per_limit,</if>
			<if test="minPoint != null  ">min_point,</if>
			<if test="startTime != null  ">start_time,</if>
			<if test="endTime != null  ">end_time,</if>
			<if test="useType != null  ">use_type,</if>
			<if test="note != null  and note != ''  ">note,</if>
			<if test="publishCount != null  ">publish_count,</if>
			<if test="useCount != null  ">use_count,</if>
			<if test="receiveCount != null  ">receive_count,</if>
			<if test="enableTime != null  ">enable_time,</if>
			<if test="code != null  and code != ''  ">code,</if>
			<if test="memberLevel != null  ">member_level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="shopId != null  ">#{shopId},</if>
			<if test="type != null  ">#{type},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="platform != null  ">#{platform},</if>
			<if test="count != null  ">#{count},</if>
			<if test="amount != null  ">#{amount},</if>
			<if test="perLimit != null  ">#{perLimit},</if>
			<if test="minPoint != null  ">#{minPoint},</if>
			<if test="startTime != null  ">#{startTime},</if>
			<if test="endTime != null  ">#{endTime},</if>
			<if test="useType != null  ">#{useType},</if>
			<if test="note != null  and note != ''  ">#{note},</if>
			<if test="publishCount != null  ">#{publishCount},</if>
			<if test="useCount != null  ">#{useCount},</if>
			<if test="receiveCount != null  ">#{receiveCount},</if>
			<if test="enableTime != null  ">#{enableTime},</if>
			<if test="code != null  and code != ''  ">#{code},</if>
			<if test="memberLevel != null  ">#{memberLevel},</if>
         </trim>
    </insert>
	 
    <update id="updateCoupon" parameterType="Coupon">
        update sms_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  ">shop_id = #{shopId},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="platform != null  ">platform = #{platform},</if>
            <if test="count != null  ">count = #{count},</if>
            <if test="amount != null  ">amount = #{amount},</if>
            <if test="perLimit != null  ">per_limit = #{perLimit},</if>
            <if test="minPoint != null  ">min_point = #{minPoint},</if>
            <if test="startTime != null  ">start_time = #{startTime},</if>
            <if test="endTime != null  ">end_time = #{endTime},</if>
            <if test="useType != null  ">use_type = #{useType},</if>
            <if test="note != null  and note != ''  ">note = #{note},</if>
            <if test="publishCount != null  ">publish_count = #{publishCount},</if>
            <if test="useCount != null  ">use_count = #{useCount},</if>
            <if test="receiveCount != null  ">receive_count = #{receiveCount},</if>
            <if test="enableTime != null  ">enable_time = #{enableTime},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="memberLevel != null  ">member_level = #{memberLevel},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCouponById" parameterType="Long">
        delete from sms_coupon where id = #{id}
    </delete>
	
    <delete id="deleteCouponByIds" parameterType="String">
        delete from sms_coupon where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>